<!DOCTYPE HTML>
<html>
    <head>
        <title>Sally Yang Jing Ou</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <style type="text/css">
        body {
             font-family: 'Open Sans', sans-serif;
        }
        </style>
        {% include googleanalytics.html %}
        <link rel="stylesheet" type="text/css" href="/css/site.css" >
    </head>
    <body>

            <div id="page-wrapper">

                    <header id="header">
                        <h1><a href="/">Sally Sally</a></h1>
                        <nav id="nav">
                            <ul>
                                <li class="special">
                                    <a href="#" class="menuToggle"><span>Menu</span></a>
                                    <div id="menu">
                                        <ul>
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/projects/">Projects</a></li>
                                            <li><a href="/blog/">Blog</a></li>
                                            <li><a href="https://www.instagram.com/sallysally.png/">Photos</a></li>
                                            <li><a href="/files/resume.pdf">Résumé</a></li>
                                            <li><a href="https://github.com/Sally-Yang-Jing-Ou">GitHub</a></li>
                                            <li><a href="https://www.linkedin.com/in/sallyouyang">LinkedIn</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    
                    {{ content }}

     <!-- Footer -->
           <footer id="footer">
               <ul class="icons">
                   <li><a href="https://www.facebook.com/sallysdream.AuYeung" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                   <li><a href="https://www.instagram.com/sallysally.png/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                   <li><a href="https://github.com/Sally-Yang-Jing-Ou" class="icon fa-github"><span class="label">Github</span></a></li>
                   <li><a href="mailto:sally_auyoung@hotmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                   <li><a href="https://ca.linkedin.com/in/sallyouyang" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                   <li><a href="https://www.instagram.com/sallysally.png/" class="icon fa-camera-retro"><span class="label">Photos</span></a></li>
               </ul>
               <ul class="copyright">
                   <li>&copy; Sally Yang Jing Ou</li>
               </ul>
           </footer>

            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/jquery.scrollex.min.js"></script>
            <script src="/assets/js/jquery.scrolly.min.js"></script>
            <script src="/assets/js/skel.min.js"></script>
            <script src="/assets/js/init.js"></script>

    </body>
</html>
