<!DOCTYPE HTML>
<html>
    <head>
        <title>Danliang Wang</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/style.css" />
         {% include googleanalytics.html %}
    </head>
    <body class="landing">

            <div id="page-wrapper">

                    <header id="header" class="alt">
                        <h1><a href="index.html">Danliang Wang</a></h1>
                        <nav id="nav">
                            <ul>
                                <li class="special">
                                    <a href="#" class="menuToggle"><span>Menu</span></a>
                                    <div id="menu">
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="/projects/">Projects</a></li>
                                            <li><a href="/files/resume.pdf">Résumé</a></li>
                                            <li><a href="https://github.com/masatoprc">GitHub</a></li>
                                            <li><a href="https://www.linkedin.com/in/danliangwang/">LinkedIn</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </header>

                <!-- Banner -->
                    <section id="banner">
                        <div class="inner">
                            <h2>Danliang Wang</h2>
                            <p>Welcome<br />
                            Scroll down to read more about me</p>
                        </div>
                        <a href="#one" class="more scrolly">Explore More</a>
                    </section>

                <!-- One -->
                    <section id="one" class="wrapper style1 special">
                        <div class="inner">
                            <header class="major">
                                <h2>Hello There! This is Danliang</h2>
                                <p>I am currently a Computer Science student at University of Waterloo.<br />
                                I'm passionate about creating mobile apps and I actively try my best to improve my skills <br />
                                Recently, I've been exploring Machine Learning <br />
                                as well as full-stack development</p>
                            </header>
                            <ul class="icons major">
                                <li><span class="icon fa-mobile major style2"><span class="label">Mobile</span></span></li>
                                <li><span class="icon fa-github major style2"><span class="label">Github</span></span></li>
                                <li><span class="icon fa-code major style2"><span class="label">Code</span></span></li>
                            </ul>
                        </div>
                    </section>

                <!-- Two -->
                    <section id="two" class="wrapper alt style2">
                        <section class="spotlight">
                            <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
                                <h2>My Hobbies</h2>
                                <p>I love driving and travelling. To me, they have an equivalent meaning. I once drove from Phoenix all the way north to Vancouver and then all the way east to Toronto!<br \>
                                If you want to know more about me, you can proceed to my projects via the Menu!</p>
                            </div>
                        </section>
                        <section class="spotlight">
                            <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
                                <h2>Get in Touch &<br />
                                Let's be friends!</h2>
                                <p>This site is built using <a href="https://github.com/jekyll/jekyll">Jekyll</a>. The source code used to create this website is publicly available on my <a href="https://github.com/masatoprc/masatoprc.github.io">GitHub</a> <br \> </p>
                                 <p> If you want to get in touch, I'm just an <a href="mailto:d267wang@uwaterloo.ca">email</a> away! <br />
                                 You can also find me on <a href="https://www.linkedin.com/in/danliangwang/">LinkedIn</a></p>
                            </div>
                        </section>
                        <section class="spotlight">
                            <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
                                <h2>I Love Exploring<br />
                                I Love Learning</h2>
                                <p>I'm excited about new technologies, I like spending my time looking up new frameworks, learning new things and creating apps, whether it's mobile or web, I enjoy it all<br />
                                If I don't know something, I'll learn it, and fast.<br />
                                I may not be an expert at everything, I often make mistakes, but with time, I'll get better! One step at a time :) </p>
                            </div>
                        </section>
                    </section>

                <!-- Three -->
                    <section id="three" class="wrapper style3 special">
                        <div class="inner">
                            <header class="major">
                                <h2>My life as a coding monkey</h2>
                                <p>Click on the Menu at the top-right hand corner<br />
                                to know more about me, if you wish :)</p>
                            </header>
                            <ul class="features">
                                <li class="icon fa-mobile">
                                    <h3><a href="/projects/">Mobile Development</a></h3>
                                    <p>I love creating mobile apps! I often write in Java for Android!</p>
                                </li>
                                <li class="icon fa-code">
                                    <h3><a href="/projects/">Web Development</a></h3>
                                    <p>I also like to make web apps! I have experience in JavaScript, AngularJS and NodeJS. </p>
                                </li>
                                <li class="icon fa-cog">
                                    <h3><a href="/projects/">Machine Learning</a></h3>
                                    <p>Machine Learning is my newly discovered hobby!</p>
                                </li>
                                <li class="icon fa-file-o">
                                    <h3><a href="/files/resume.pdf">Professional Stuff</a></h3>
                                    <p>You can find me via <a href="https://www.linkedin.com/in/danliangwang/">LinkedIn</a>, <a href="https://github.com/masatoprc">Github</a> or <a href="mailto:d267wang@uwaterloo.ca">Email</a>! Here's my <a href="/files/resume.pdf">resume</a></p>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section id="cta" class="wrapper style4">
                        <div class="inner">
                            <header>
                                <h2>Thanks for coming by</h2>
                                <p>Danliang Wang<br /><br /><br /></p>
                            </header>
                        </div>
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="icons">
                            <li><a href="https://www.facebook.com/danliang.wang" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://github.com/masatoprc" class="icon fa-github"><span class="label">Github</span></a></li>
                            <li><a href="mailto:d267wang@uwaterloo.ca" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                            <li><a href="https://www.linkedin.com/in/danliangwang/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        </ul>
                        <ul class="copyright">
                            <li>&copy; Danliang Wang</li>
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/init.js"></script>

    </body>
</html>